<app-form-validation></app-form-validation>
<app-modals></app-modals>
<app-transictions></app-transictions>

<h2 class="ui teal header">Form search</h2>
<div ch-grid-row>
    <div
        ch-grid-column
        tablet="16"
        computer="16">
        <div ch-search-form
            searchBtnPosition="right"
            class="row m-b-30"
            [with-tooltip]="false"
            color="purple"
            [hidden]="true"
            [loading]="loading"
            [searchBtnText]="'Search'"
            [clearBtnText]="'Clear'"
            [hiddenSearchBtnTooltip]="'Hidden tooltip'"
            [visibleSearchBtnTooltip]="'Visible tooltip'"
            [updateBtnTooltip]="'Update tooltip'"
            [updateBtnTooltip]="''"
            (on-clear)="clear($event)"
            (on-search)="search($event)">
            <form [formGroup]="form">
                <div class="field m-b-20">
                    <label>Term</label>
                    <input
                        type="text"
                        formControlName="term">
                </div>
            </form>
            <div extra-buttons>
              <button class="ui teal basic button m-r-20">
                Extra button 1
              </button>
              <button class="ui violet basic button  m-r-20">
                Extra button 2
              </button>
              <button class="ui violet basic button  m-r-20">
                Extra button 3
              </button>
            </div>
        </div>
    </div>

    <div ch-accordion>
        <div ch-accordion-title>Teste</div>
        <div ch-accordion-content>
            <p>Teste</p>
        </div>

    </div>
</div>
